:root {
    --color1: rgb(29, 30, 32);
    --color2: rgb(50, 50, 50);
    --color3: rgb(180, 180, 181);

    --color-font: white;
    --color-font2: black;
    --color-font3: rgb(191, 191, 191);
    --color-font4: rgb(0, 170, 255);

    --filter: invert(90%);
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.page {
    display: none;
}

*,
*:before,
*:after {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-font);
}

body {
    background-color: var(--color1);
}

/* BUTTONS */

.button-login,
.button-logout {
    background-color: var(--color2);
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-register {
    background-color: var(--color2);
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--color3);
    cursor: pointer;
}

.user-form {
    width: 400px;
    max-width: 98%;
    background-color: var(--color1);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid var(--color2);
    padding: 50px 35px 20px 35px;
}

.user-form form * {
    font-family: 'Poppins', sans-serif;
    color: var(--color-font);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.user-form form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.user-form form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: var(--color2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: var(--color-font);
}

.user-form form button {
    margin: 25px 0px;
    width: 100%;
    background-color: var(--color-font);
    color: var(--color-font2);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.user-form p {
    text-align: center;
    color: var(--color-font);
}

.user-form p button {
    background: none;
    color: var(--color-font4);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.user-form p button:hover {
    text-decoration: underline;
}

/* HEADER */

.header {
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.header div {
    margin-left: auto;
    display: flex;
    gap: 14px;
    align-items: center;
}

/* PAGE INDEX BOARD */

#board {
    width: 900px;
    max-width: 100%;
    margin: auto;
    color: color(--color-font);
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.board-top button {
    background-color: var(--color2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: auto;
}

.board-top button img {
    filter: var(--filter);
}

.board-post {
    background-color: var(--color2);
    border-radius: 10px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    cursor: pointer;
}

.board-post h1 {
    color: var(--color-font);
    font-size: 24px;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.board-post h1 img {
    filter: var(--filter);
}

.board-post p {
    color: var(--color-font);
    font-weight: 100;
}

/* NEW POST FROM */

#new-post-form {
    width: 800px;
    max-width: 90%;
    margin: auto;
    padding: 35px 14px 20px 14px;
}

#new-post-form * {
    font-family: 'Poppins', sans-serif;
    color: var(--color-font);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

#new-post-form label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

#new-post-form label[for=private] {
    display: inline-block;
}

#new-post-form input[type=text] {
    display: block;
    height: 50px;
    width: 100%;
    background-color: var(--color2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#new-post-form textarea {
    display: block;
    height: 300px;
    width: 100%;
    background-color: var(--color2);
    border-radius: 3px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    resize: none;
}

#new-post-form button {
    margin: 25px 0px 0px 0px;
    width: 100%;
    background-color: var(--color-font);
    color: var(--color-font2);
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* POST STYLES */

#post-container {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#post-container h1 {
    color: var(--color-font);
    font-size: 40px;
}

.post-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--color3);
}

.post-container div:not(:first-child) {
    padding: 14px 0px;
}

.post-message p:first-child {
    color: var(--color-font3);
    font-weight: 100;
}

.post-message p:nth-child(2) {
    font-size: 18px;
    white-space: pre-wrap;
}

#new-message {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 14px;
}

#new-message-form {
    display: flex;
    flex-direction: column;
}

#new-message-form textarea {
    display: block;
    height: 200px;
    width: 100%;
    background-color: var(--color2);
    border-radius: 3px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    resize: none;
}

#new-message-form button {
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-font);
    color: var(--color-font2);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.delete-message,
.edit-button {
    width: 100px;
    background-color: var(--color-font);
    color: var(--color-font2);
}


.edit-form {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.edit-text {
    background-color: var(--color2);
    color: var(--color-font);
    padding: 10px;
    height: 100px;
}

.edit-send {
    background-color: var(--color-font);
    color: var(--color-font2);
    font-weight: bold;
}

#style-button {
    background: none;
    filter: var(--filter);
}